<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mariadasreceitas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/restaurante"
        android:label="@string/app_name"
        android:roundIcon="@drawable/restaurante"
        android:supportsRtl="true"
        android:theme="@style/Theme.MariaDasReceitas">

        <activity android:name=".LoginActivity"
                  android:theme="@style/Theme.MariaDasReceitas.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>